:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);

  --accent: hsl(237, 63%, 64%);
  --btn-accent: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --card-accent: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL */

body {
  margin: 0;
  padding: 3em 1em;
  color: var(--Grayish-Blue);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: var(--Very-Light-Grayish-Blue);
}

body::before {
  position: fixed;
  content: url(./images/bg-top.svg);
  z-index: -1;
  top: 0;
}

.container {
  width: 100%;
}

.card {
  color: var(--fg);
  background: var(--bg, white);
  border-radius: 10px;
  box-shadow: 0px 8px 20px 10px rgba(163, 163, 163, 0.35);
  margin: 2em 0;
  padding: 2em;
}

.card--light {
  --bg: white;
  --fg: var(--Grayish-Blue);
}

.card--accent {
  --bg: var(--card-accent);
  --fg: white;
}

.btn {
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  background: var(--btn-bg, lightblue);
  color: var(--btn-fg, red);
  border: var(--btn-brd);
  border-radius: 7px;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn--light {
  --btn-bg: white;
  --btn-fg: var(--accent);
  --btn-brd: 1px solid white;
}

.btn--light:hover {
  background: transparent;
  color: var(--btn-bg);
}

.btn--accent {
  --btn-bg: var(--btn-accent);
  --btn-fg: white;
  --btn-brd: 1px solid white;
}

.btn--accent:hover {
  background: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
}

/* TOGGLE */

.toggle-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-div span {
  color: var(--Light-Grayish-Blue);
}

.toggle {
  position: relative;
  display: inline-block;
  margin: 0 1em;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  width: 52px;
  height: 30px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}

.toggle-label:hover {
  opacity: 0.5;
}

.toggle-label::before,
.toggle-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.toggle-label::before {
  width: 100%;
  height: 100%;
  background: var(--btn-accent);
  border-radius: 100vw;
}

.toggle-label::after {
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  transition: left 0.25s ease;
}

.toggle-input:checked + .toggle-label::after {
  left: 25px;
}

/* CARDS */

.card .plan-name {
  margin-top: 0;
}

.card .price {
  color: var(--fg, --Dark-Grayish-Blue);
  font-size: 4rem;
  margin: 0.5em 0;
}

.card--light .price {
  color: var(--Dark-Grayish-Blue);
}

.card .price--ann {
  display: none;
}

.card .feature {
  margin: 0;
  border-top: 1px solid var(--Light-Grayish-Blue);
  padding: 1em 0;
}

.card .feature:last-of-type {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}

/* 900px BREAKPOINT */

@media (min-width: 900px) {
  /* GENERAL */

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  body::before {
    right: 0;
  }

  body::after {
    position: fixed;
    content: url(./images/bg-bottom.svg);
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  /* CARDS */

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .card {
    width: 33%;
    max-width: 350px;
  }

  .card--light {
    max-height: 500px;
  }

  .card--light:first-child {
    border-radius: 10px 0 0 10px;
  }

  .card--light:last-child {
    border-radius: 0 10px 10px 0;
  }

  .card--accent {
    padding: 3.5em 2em;
  }
}
