:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);

  --btn-accent: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --card-accent: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL */

body {
  padding: 3em 1em;
  color: var(--Grayish-Blue);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: url(./images/bg-top.svg) no-repeat top right;
  background-color: var(--Very-Light-Grayish-Blue);
  background-size: 50%;
}

.card {
  color: var(--fg);
  background: var(--bg, white);
  border-radius: 8px;
  box-shadow: 0px 8px 20px 10px rgba(163, 163, 163, 0.35);
  margin: 2em 0;
  padding: 2em;
}

.card--light {
  --bg: white;
}

.card--accent {
  --bg: var(--card-accent);
  --fg: white;
}

.btn {
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  background: var(--btn-bg, lightblue);
  color: var(--btn-fg, red);
  border-radius: 7px;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn--light {
  --btn-bg: white;
  --btn-fg: hsl(237, 63%, 64%);
}

.btn--accent {
  --btn-bg: var(--btn-accent);
  --btn-fg: white;
}

/* TOGGLE */

.toggle-div span {
  color: var(--Light-Grayish-Blue);
}

.toggle {
  display: inline-block;
}

/* CARDS */

.card .plan-name {
  margin-top: 0;
}

.card .price {
  color: var(--fg, --Dark-Grayish-Blue);
  font-size: 4rem;
  margin: 0.5em 0;
}

.card .price--ann {
  display: none;
}

.card .feature {
  margin: 0;
  border-top: 1px solid var(--Light-Grayish-Blue);
  padding: 1em 0;
}

.card .feature:last-of-type {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}
